*{
    outline:hidden;
}

body{
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px !important;
}

.navbar-dark .navbar-brand {
    color: lightgray;
}

.flex-column{
    margin-top: 1em
}

.sidebar{
    border-right: solid 1px;
    border-color: lightgray;
    text-align: left;
    height: 100vh
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #343a40;
}


.page-header{
    padding: 10px 10px;
 color:#343a40
        
}
.main{
    margin-top:15px;
    height: 100vh;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    background: rgba(0,67,105,0.4);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,67,105,0.8);
    border-radius: 30px;

}


.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
}

.placeholder{
    margin-bottom: 20px;
    text-align: center;
    
}

.placeholder img{
    display:inline;
    border-radius: 50%
}


.TnC:hover{
    text-decoration: none
}

.dashboardBody{
    display:block
}


.activeOrdersBody{
    display: none
}


.inventoryBody{
    display: none
}


.transporterBody{
    display: none
}


.transactionBody{
    display: none
}


.statsBody{
    display: none
}

.settingsBody{
    display: none
}

.helpBody{
    display: none
}

i{
    margin-right: 8px
}

.inventoryButtons{
    float:right
}

#addStockForm{
    display: none;
    margin-bottom: 80px;
    background-color: lightgray;
    padding:15px;
}

.formBtn{
    text-align: center;
}

@media(max-width:576px){
    body{
        overflow-y:scroll;
    }
    .sidebar{
        height: auto;
    }
    .main{
        overflow-y: visible;
    }
    
}

.transactionBal{
    margin: 15px;
}

.redeemTable{
    overflow-x:scroll !important;
}