@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Signika&display=swap');



html{
    scroll-behavior: smooth;
}

body{
    outline:none;
    overflow-x: hidden;
    overflow-y: scroll;
    
    font-family: 'Signika', sans-serif;
}

::-webkit-scrollbar{
    width:5px;
}


::-webkit-scrollbar-thumb {
    background: rgba(0,67,105,0.8);
    border-radius: 30px;

}

/*
.navbar{
     height: 80px;   
}
*/

#myVideo {
  position:relative;
  min-width: 100%;
  min-height: 70%;
    opacity: 0.6
}

.content {
  position: absolute;
  bottom:0px;
  background: rgba(111,185,143, 0.5);
  color: white!important;
  width: 100%;
  padding: 20px;
    opacity: 1 !important;
}

.content h5{
    color:#ffd800
}

.navbar-wrapper{
    z-index: 100 !important;
    position:absolute;
    top:0;
    width:100vw;;
    height: 80px;
}


.navbar-wrapper.visible{
    position:fixed;
    width: 100vw;
    animation: slide 1s;
  animation-fill-mode: forwards;
    
}

nav, .bg-dark{
    background-color: #004445!important;
}


@keyframes slide{
    from {top: -60px;}
  to {top: 0px;}
}

.aboutUs{
    text-align: center;
    position: relative;
    margin:80px;
}

.aboutUs .row .col-md-12 p{
    margin-top:30px;
    font-size: 19px;
    color: gray;
}
.aboutUs .row .col-md-12 h2, .features .row .col-md-12 h2{
    color: #2c7873;
    font-weight: 600;
    font-size: 40px;
}




.navbar-collapse{
    background-color: #004445!important;
    width:100%;
    padding:10px;
}

.navbar-toggler, .navbar-dark .navbar-toggler{
    outline:none;
}


.features{
    text-align: center;
    position: relative;
    margin:80px;
}

.features .row .col-md-12 p{
    margin-top:30px;
    font-size: 19px;
    color: gray;
}

.features .row .col-md-4 h3{
    margin-top:30px;
}

.featureSec{
    margin-top: 30px;
}

.currencyLogo{
    width:180px;
    height:180px;
}

.featureSec .col-md-4{
    padding: 18px;
}

.feat1{
    border:3px solid #2c7873;
    border-radius: 40px;
    padding: 20px;
    background-image: linear-gradient(to top, #6fb98f, #2c7873, white);
}

@keyframes slideFromLeft{
    from {left: -60px;}
  to {left: 0px;}
}

@keyframes slideFromRight{
    from {right: -60px;}
  to {right: 0px;}
}

@keyframes slideFromDown{
    from {bottom: -60px;}
  to {bottom: 0px;}
}

.animatedDown{
    animation: slideFromDown 2s;
    animation-fill-mode: forwards;
}

.animatedLeft{
    animation: slideFromLeft 2s;
    animation-fill-mode: forwards;
}

.animatedRight{
    animation: slideFromRight 2s;
    animation-fill-mode: forwards;
}

.animateBlock {
  margin-top: 20px;
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  -webkit-transition: all .55s ease-in;
  -moz-transition: all .55s ease-in;
  -ms-transition: all .55s ease-in;
  -o-transition: all .55s ease-in;
  transition: all .55s ease-in;
}

.feat1 h3{
    color:white;
}

.feat1 p{
    color:ghostwhite;
}

.otherFeat{
    text-align: center;
    margin-top: 50px;
}

.otherFeat h4{
    text-align: center;
    margin-top: 35px;
    color: #2c7873;
    font-weight: 600
}

.otherFeatBody{
    text-align: center;
    padding: 25px;
    
}

.otherFeatBody p{
    background-color: lightgray;
    border: 2px solid #004445;
    margin-bottom: 8px;
    padding:10px;
    border-radius: 10px;
    animation: zoom 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transform: scale(1);
}

.otherFeatBody p i{
    color:#004445;
}

@keyframes zoom{
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.1);
    }
    10% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.fullOtherFeat{
    padding:20px;
}


.technology .row .col-md-12 h2{
    color: #2c7873;
    font-weight: 600;
    font-size: 40px;
}

.techParts{
    text-align: center;
}

.technology {
    text-align: center;
    position: relative;
    padding: 100px 80px 80px 80px;
}

.techImgs{
    width:150px;
    height: 150px;
    margin-top: 30px;
}

.technology .row .col-md-12 h4{
    margin-top: 30px;
    font-weight: 600;
}

/*
.techParts .col-md-3 h5{
    margin-top: 25px;
    font-weight: 600
}

.mongo{
    background-color: rgb(239,240,242);
    border-radius: 50%;
    padding: 15px;
}
.node{
    background-color: rgb(239,240,242);
    border-radius: 50%;
    border:2px solid rgb(239,240,242);
    padding: 10px 0px 10px 10px;
}

.htmlLogo{
    background-color: rgb(239,240,242);
    border-radius: 50%;
    padding: 0px;
}

.mongo1{
    background-color: rgb(239,240,242);
    border-radius: 50%;
    padding: 25px;
}
*/

.technology .row .col-md-12 h6{
    margin-top: 30px;
    font-weight: 600;
}

.technology .row .col-md-12 a{
    margin-top: 20px;
}

.footer-text{
    text-align: center;
}
footer{
    background-color: #d9e4dd;
    padding: 10px 0px 2px 0px;;
}